@model InStockWebAppBLL.Models.ProductVM.AlterProductVM
@{
    string actiony = "";
}
@if (ViewData["Title"] == "Create")
{
    actiony = "Create";
}
else
{
    actiony = "Edit";
}
<head>
        <style>
        .image-container {
            position: relative;
            display: inline-block;
        }

        .image-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        </style>
 </head>
<div class="card-body">
    <form action="@actiony" data-toggle="validator" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @if (actiony == "Edit")
                    {
                        <input asp-for="Id" type="hidden" />
                    }
                    <label>Name *</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" data-errors="Please Enter Name." required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Dicount Code</label>

                    @*   asp-items="ViewBag.DiscountId" *@
                    @Html.DropDownListFor(model => model.DiscountId, (List<SelectListItem>)ViewBag.DiscountId, new { @class = "selectpicker form-control", data_style = "py-0" })

                    @* <select asp-for="DiscountId" asp-items="@ViewBag.DiscountId" name="type" class="selectpicker form-control" data-style="py-0"></select> *@

                    <span asp-validation-for="DiscountId" class="text-danger"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Price *</label>
                    <input asp-for="Price" type="text" class="form-control" placeholder="Enter Price" data-errors="Please Enter Price." required>
                    <span asp-validation-for="Price" class="text-danger"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>SubCategory *</label>
                    @Html.DropDownListFor(model => model.SubCategoryId, (SelectList)ViewBag.SubCategoryId, new { @class = "selectpicker form-control", data_style = "py-0" })
                    <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>InStock *</label>
                    <input asp-for="InStock" type="text" class="form-control" placeholder="Enter Quantity" required>
                    <span asp-validation-for="InStock" class="text-danger"></span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
              
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Description / Product Details</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4 mt-3 mb-3">
                <p onclick="AddImage()" class="btn btn-primary text-white ">
                    Add <i class="ri-image-add-line"></i>
                </p>
                <p onclick="RemoveImage()" class="btn btn-danger text-white ">
                    <i class="ri-delete-bin-line"></i> Imag
                </p>
            </div>

           
           
        </div>
        <div id="ImageForm"></div>

        <div class="row">
            <div class="col-6">
            @if (ViewData["Title"] == "Create")
            {
                
                    <button type="submit" class="btn btn-primary ">Add Product</button>
                
            }
            
            else
            {
                <input type="hidden" asp-for="Images" />
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Images</label>
                        @foreach (var image in Model.Images)
                        {
                            <div class="image-container">
                                <img src="~/Files/productImages/@image.ImagePath" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                    <input type="file" accept="image/*" class="image-input" name="ImageFiles" onchange="updateImagePreview(this)" value="@image.ImagePath">
                                <!--<input type="hidden" asp-for="Images" />-->
                                <br />
                            </div>
                                <button type="button" onclick="deleteImage(this)">Delete</button>
                            <br />
                        
                        }
                        <span asp-validation-for="Images" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mr-2">Edit Product</button>
                </div>
            }
            </div>
       
        <div>
            <button type="reset" class="btn btn-danger">Reset</button>
                <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </div>
       
    </form>

   
    
    <script>
        var index = 0;
        var inputs = [];

        function AddImage() {
            var imageInput = document.createElement("input");
            imageInput.type = "file";
            imageInput.name = `ImageFiles`;
            imageInput.multiple = true;
            imageInput.className = "form-control image-file mb-2";
            var ImageDiv = document.getElementById("ImageForm");
            ImageDiv.appendChild(imageInput);
            inputs.push(imageInput); // Add the input to the list of inputs
            index++;
        }

        function RemoveImage() {
            if (inputs.length > 0) {
                var lastInput = inputs.pop(); // Remove the last added input
                lastInput.remove(); // Remove the input element from the DOM
                index--;
            }
        }
        function updateImagePreview(input) {
            var imageContainer = input.parentElement;
            var img = imageContainer.querySelector('img');
            var file = input.files[0];
            // var hiddenInput = imageContainer.querySelector('input[type="hidden"]');

            // // Clear the hidden input field's value
            // hiddenInput.value = "";
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    img.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
        function deleteImage(button) {
            var imageContainer = button.parentElement;
            var hiddenInput = imageContainer.querySelector('input[type="hidden"]');
            var imagePreview = imageContainer.querySelector('img');

            // Clear the hidden input field's value
            hiddenInput.value = "";

            // Hide the image preview
            imagePreview.style.display = 'none';

            // Hide the delete button
            button.style.display = 'none';
        }

    </script>


</div>