
@model IEnumerable<InStockWebAppBLL.Models.ProductVM.GetProductsVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Product List</h4>
                    <p class="mb-0">The product list effectively dictates product presentation</p>
                </div>
                <a asp-action="Create" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Product</a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive rounded mb-3">
                <table class="data-tables table mb-0 tbl-server-info">
                    <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data">
                            <th>
                                <div class="checkbox d-inline-block">
                                    <input type="checkbox" class="checkbox-input" id="checkbox1">
                                    <label for="checkbox1" class="mb-0"></label>
                                </div>
                            </th>
                            <th>Product</th>
                            <th>Dicount Code</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="ligth-body">
                        @foreach(var item in Model)
                        {
                            <tr>
                            <td>
                                <div class="checkbox d-inline-block">
                                    <input type="checkbox" class="checkbox-input" id="checkbox2">
                                    <label for="checkbox2" class="mb-0"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                        <img src="~/Files/productImages/@item.ImagePaths.FirstOrDefault()" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                    <div>
                                        @item.Name
                                        <p class="mb-0"><small>@item.Description</small></p>
                                    </div>
                                </div>
                            </td>
                            <td>@item.DiscountName</td>
                            <td>@item.SubCategoryName</td>
                            <td>@item.Price</td>
                             <td>@item.InStock</td>
                                <td>
                                    <span class="badge badge-@(item.IsDeleted ? "danger" : "success") js-status">
                                        @(item.IsDeleted ? "Deleted" : "Available")
                                    </span>
                                </td>
                            <td>
                                <div class="d-flex align-items-center list-action">
                                    <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                           asp-action="Details" asp-route-id="@item.Id"><i class="ri-eye-line mr-0">
                                           </i></a>
                                    <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                           asp-action="Edit" asp-route-id="@item.Id"><i class="ri-pencil-line mr-0"></i></a>
                                        <a class="badge @(item.IsDeleted ? "bg-warning" : "bg-danger") mr-2 js-toggle-status" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                           href="javascript:;" data-id="@item.Id"><i class="@(item.IsDeleted ? "ri-lock-fill" : "ri-delete-bin-line")  ic mr-0"></i></a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Page end  -->
    @section JS {
        <partial name="~/Views/Partials/Product/_ProductScript.cshtml" />

    }
</div>
