@model IEnumerable<InStockWebAppBLL.Models.ProductVM.GetProductsVM>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Product List</h4>
                    <p class="mb-0">Here are all the products in the system</p>
                </div>
                <a asp-action="Create" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Product</a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive rounded mb-3">
                <table class="data-tables table mb-0 tbl-server-info">
                    <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data">
                            <th>Product</th>
                            <th>Dicount Code</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="ligth-body">
                        @foreach(var item in Model)
                        {
                            <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                        <img src="~/Files/ProductImages/@item.ImagePaths.FirstOrDefault()" class="img-fluid rounded avatar-50 mr-3" alt="image">
@*                                         <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded avatar-50 mr-3" alt="image">
 *@
                                    <div>
                                        @item.Name
                                        <p class="mb-0"><small>@item.Description</small></p>
                                    </div>
                                </div>
                            </td>
                            <td>@item.DiscountName</td>
                            <td>@item.SubCategoryName</td>
                            <td>@item.Price</td>
                             <td>@item.InStock</td>
                                <td>
                                    <span class="badge badge-@(item.IsDeleted ? "danger" : "success") js-status">
                                        @(item.IsDeleted ? "Deleted" : "Available")
                                    </span>
                                </td>
                            <td>
                                <div class="d-flex align-items-center list-action">
                                    <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                           asp-action="Details" asp-route-id="@item.Id"><i class="ri-eye-line mr-0">
                                           </i></a>
                                    <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                           asp-action="Edit" asp-route-id="@item.Id"><i class="ri-pencil-line mr-0"></i></a>
                                        <a class="badge bg-warning mr-2 js-toggle-status" href="javascript:;" data-id="@item.Id">
                                            @if (item.IsDeleted)
                                            {
                                                <i class="ri-toggle-line js-toggle-icon"></i>
                                            }
                                            else
                                            {
                                                <i class="ri-delete-bin-line mr-0 js-toggle-icon"></i>
                                            }
                                        </a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Page end  -->
    @* @section JS {
        <partial name="~/Views/Partials/Product/_ProductScript.cshtml" />

    } *@

    <input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetTokens(Context).RequestToken" />

    

</div>
<script src="~/lib/bootbox.js/bootbox.js"></script>
<script src="~/lib/bootbox.js/bootbox.min.js"></script>
@section JS
    {
    <script>
        $(document).ready(function () {
            $('body').on('click', '.js-toggle-status', function () {
                let btn = $(this);

                Swal.fire({
                    title: "Are you sure?",
                    text: `You will toggle the state of Product#${btn.data("id")}!`,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#32BDEA",
                    cancelButtonColor: "#FF9770",
                    confirmButtonText: "Yes, proceed!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.post({
                            url: `/Product/ToggleStatus/${btn.data("id")}`,
                            data: {
                                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                            },
                            success: function (modifiedAt) {
                                let row = btn.parents("tr");
                                let status = row.find(".js-status");
                                let newStatus = status.text().trim() === "Deleted" ? "Available" : "Deleted";
                                if (newStatus === "Deleted") {
                                    row.find(".js-toggle-icon").removeClass("ri-delete-bin-line");
                                    row.find(".js-toggle-icon").addClass("ri-toggle-line");
                                } else {
                                    row.find(".js-toggle-icon").removeClass("ri-toggle-line");
                                    row.find(".js-toggle-icon").addClass("ri-delete-bin-line");
                                }

                                status.text(newStatus).toggleClass("badge-success badge-warning");
                                row.find(".js-modified-at").html(modifiedAt);

                                row.addClass("animate__animated animate__flash");
                                setTimeout(() => {
                                    $(row).removeClass("animate__animated animate__flash")
                                }, 1000);
                                let message = newStatus === "Available"
                                    ? `Subcategory#${btn.data("id")} has been activated successfully`
                                    : `Subcategory#${btn.data("id")} has been deleted successfully`;
                                showSuccessAlert(message);
                            },
                            error: function () {
                                showErrorAlert();
                            }
                        });
                    }
                });
            });
        });

    </script>
}