@model IEnumerable<SubcategoryVM>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
          
                <div class="col-lg-12">
                    <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                        <div>
                            <h4 class="mb-3">SubCategory List</h4>
                            <p class="mb-0">Here are all the sub categories in the system</p>
                        </div>
                        <a asp-controller ="Subcategory" asp-action="Create" class="btn btn-primary js-render-modal add-list"><i class="las la-plus mr-3"></i>Add SubCategory</a>
                    </div>
                </div>
                
                    </div>
                    <div class="table-responsive">
                        <table id="datatable" class="table data-tables table-striped data-table mb-0 tbl-server-info text-center">
                            <thead class="bg-white text-uppercase">
                            <tr class="ligth">
                                <th style="width: 8%">ID</th>
                                <th style="width: 14%">Name</th>
                                <th style="width: 17%">Category</th>
                                <th style="width: 14%">Status</th>
                                <th>Created At</th>
                                <th>Modified At</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var subcategory in Model)
                            {
                                <tr>
                                    <td>@subcategory.Id</td>
                                    <td>@subcategory.Name</td>
                                    <td>@subcategory.Category.Name</td>
                                    <td>
                                        <span class="badge badge-pill badge-@(subcategory.IsDeleted ? "warning" : "success") js-status">
                                            @(subcategory.IsDeleted ? "Deleted" : "Active")
                                        </span>
                                    </td>
                                    <td>@subcategory.CreatedAt</td>
                                    <td class="js-modified-at">@(subcategory.ModifiedAt is null ? "N/A" : subcategory.ModifiedAt)</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center list-action">
                                            <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" asp-controller="Subcategory" asp-action="Details" asp-route-id="@subcategory.Id">
                                                <i class="ri-eye-line mr-0"></i>
                                            </a>
                                            <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" asp-controller="Subcategory" asp-action="Edit" asp-route-id="@subcategory.Id">
                                                <i class="ri-pencil-line mr-0"></i>
                                            </a>
                                            <a class="badge bg-warning mr-2 js-toggle-status" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle State" href="javascript:;" data-id="@subcategory.Id">
                                                @if (subcategory.IsDeleted)
                                                {
                                                    <i class="ri-toggle-line js-toggle-icon"></i>
                                                }
                                                else
                                                {
                                                    <i class="ri-delete-bin-line mr-0 js-toggle-icon"></i>
                                                }
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>

<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetTokens(Context).RequestToken"/>
<span id="tr-msg" class="d-none">@TempData["message"]</span>

@section JS
{
    <script src="~/AdminResources/Subcategory/js/script.js" asp-append-version="true"></script>
}