@model GetDiscountByIdVM

@{
    ViewData["Title"] = "Discount Details";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-uppercase">@Model.Name Discount</h2>
            </div>
            <div class="card-body">
                <h5>Description:</h5>
                <p>@Model.Description</p>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Created At:</h5>
                        <p>@Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Modified At:</h5>
                        <p>@(Model.ModifiedAt.HasValue ? Model.ModifiedAt.Value.ToString("yyyy-MM-dd HH:mm:ss") : "N/A")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>@Html.DisplayNameFor(model => model.DeletedAt):</h5>
                        <p>@(Model.IsDeleted ? Model.DeletedAt.ToString("yyyy-MM-dd HH:mm:ss") : "N/A")</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Status:</h5>
                        <p class="badge @(Model.IsDeleted ? "bg-danger" : "bg-success")">
                            @(Model.IsDeleted ? "Deleted" : "Available")
                        </p>
                    </div>
                </div>
                <h3 class="card-title text-uppercase">Assigned Products : </h3>
                <div class="table-responsive rounded mb-3">
                    <table class="data-tables table mb-0 tbl-server-info text-center">
                        <thead class="bg-white text-uppercase">
                            <tr class="light light-data">
                                <th>Name</th>
                                <th>Sub Category</th>
                              
                            </tr>
                        </thead>
                        <tbody class="light-body">
                            @foreach (var item in Model?.Products)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.SubCategoryId</td>
                                
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "Discount")" class="btn btn-primary">Back to Discounts</a>
            </div>
        </div>
    </div>
</div>




