@model CartVM
@{
    ViewBag.Title = "InStock | Shopping Cart";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";

    List<Item> items = [];
    if (Model != null)
    {
        items = Model.Items.ToList();
    }
}

@section CSS {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
}

<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Cart</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                            <li class="breadcrumb-item">
                                <a class="text-dark" asp-controller="Home" asp-action="">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <h2 class="h5 text-uppercase mb-4">Shopping cart</h2>
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <!-- CART TABLE-->
                <div class="table-responsive mb-4">
                    <table class="table text-nowrap">
                        <thead class="bg-light">
                        <tr>
                            <th class="border-0 p-3" scope="col">
                                <strong class="text-sm text-uppercase">Product</strong>
                            </th>
                            <th class="border-0 p-3" scope="col">
                                <strong class="text-sm text-uppercase">Price</strong>
                            </th>
                            <th class="border-0 p-3" scope="col">
                                <strong class="text-sm text-uppercase">Quantity</strong>
                            </th>
                            <th class="border-0 p-3" scope="col">
                                <strong class="text-sm text-uppercase">Total</strong>
                            </th>
                            <th class="border-0 p-3" scope="col">
                                <strong class="text-sm text-uppercase"></strong>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="border-0">
                        @for (var i = 0; i < items?.Count; i++)
                        {
                            @* @items[i].Product.Images[0].ImagePath *@
                            <tr id="#row-@items[i].Id">
                                <td class="ps-0 py-3 border-light" scope="row">
                                    <div class="d-flex align-items-center ">
                                            <a class="reset-anchor d-block animsition-link" asp-action="CustomerSideDetails" asp-controller="Product" asp-route-id="@items[i]?.Product?.Id">
                                                <img src="~/Files/ProductImages/@items[i]?.Product?.Images?.FirstOrDefault()?.ImagePath" alt="..." width="70" />
                                        </a>
                                        <div class="ms-3">
                                            <strong style="width:30px" class="h6">
                                                    <a class="reset-anchor animsition-link" asp-action="CustomerSideDetails" asp-controller="Product" asp-route-id="@items[i]?.Product?.Id">@items[i].Product.Name</a>
                                            </strong>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">$@items[i].Product.Price</p>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <div class="border d-flex align-items-center justify-content-between px-3">
                                        <span class="small text-uppercase text-gray headings-font-family">Quantity</span>
                                        <div class="quantity">
                                            <button class="decreaseButton dec-btn p-0" data-item-id="@items[i].Id">
                                                <i class="fas fa-caret-left"></i>
                                            </button>
                                            <input class="form-control form-control-sm border-0 shadow-0 p-0 quantityInput" type="text" asp-for="Items.ToList()[i].Quantity"/>
                                            @if (items[i].Product.InStock > items[i].Quantity)
                                            {
                                                <button class="increaseButton inc-btn p-0" data-item-id="@items[i].Id" data-index="@i">
                                                    <i class="fas fa-caret-right"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="inc-btn p-0" disabled>
                                                    <i class="fas fa-caret-right"></i>
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small totalPrice">@items[i].TotalPrice EGP</p>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <button type="button" data-item-id="@items[i].Id" class="reset-anchor deleteCartItem" style="border: none; background-color: #fff;">
                                        <i class="fas fa-trash-alt small text-muted"></i>
                                    </button>

                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <!-- CART NAV-->
                <div class="bg-light px-4 py-3">
                    <div class="row align-items-center text-center">
                        <div class="col-md-6 mb-3 mb-md-0 text-md-start">
                            <a class="btn btn-link p-0 text-dark btn-sm" asp-controller="FilterProduct" asp-action="Index"><i class="fas fa-long-arrow-alt-left me-2"> </i>Continue shopping</a>
                        </div>
                        <div class="col-md-6 text-md-end">


                            @if (Model != null)
                            {
                                if (ViewBag.Cart !=0)
                                {
                                    <a asp-action="Checkout" asp-controller="Home" class="btn btn-outline-dark btn-sm checkout">Proceed to checkout</a>
                                     
                                }
                           
                            }

                        </div>

                    </div>
                </div>
            </div>
            <!-- ORDER TOTAL-->
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Cart total</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">Subtotal</strong><span class="text-muted small totalcard">@Model?.TotalPrice  EGP</span>
                            </li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between mb-4">
                                <strong class="text-uppercase small font-weight-bold">Total</strong><span class="totalcard">@Model?.TotalPrice EGP</span>
                            </li>
                            <li>
                                <form action="#">
                                    <div class="input-group mb-0">
                                        <input class="form-control" type="text" placeholder="Enter your coupon">
                                        <button class="btn btn-dark btn-sm w-100" type="submit"> <i class="fas fa-gift me-2"></i>Apply coupon</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Js
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/cart/cartdetailes.js"></script>
    <script>
        $(document).ready(function () {
            // Check if TempData["SucessPayment"] is not null
            var successPayment = @Html.Raw(Json.Serialize(TempData["SucessPayment"]));

            if (successPayment) {
                // Display toast notification for successful payment
                Toastify({
                    text: "Payment successful!",
                    className: "success",
                    style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                    },
                    preventDuplicates: true
                }).showToast();
            }
        });
    </script>
    
}