@model IEnumerable<ProductFilterVM>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

@foreach (var product in Model)
{
    <div class="col-lg-4 col-sm-6">
        <div class="product text-center">
            <div class="mb-3 position-relative">
                <div class="badge text-white bg-primary">New</div>
                <a class="d-block" asp-controller="Product" asp-action="CustomerSideDetails" asp-route-id="@product.Id">
                    <div style="height:400px;width:100%;">
                        <img style="width:100%;height:100%" src="~/Files/ProductImages/@(product?.Images?.FirstOrDefault()?.ImagePath ?? "profile-bg.jpg")" alt="@product.Name">
               
                    </div>
                </a>
                <div class="product-overlay">
                    <ul class="mb-0 list-inline">
                        <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" asp-controller="Product" asp-action="CustomerSideDetails" asp-route-id="@product.Id"><i class="far fa-eye"></i></a></li>

                        @if (product.InStock > 0)
                        {
                            <li class="list-inline-item m-0 p-0">
                                <a class="btn btn-sm btn-dark addToCartBtnProduct" data-item-id="@product.Id">Add to cart</a>
                            </li>
                        }
                        else
                        {
                            <li class="list-inline-item m-0 p-0">

                                <a class="btn btn-sm btn-dark addToCartBtnProduct" data-item-id="@product.Id">Add to cart</a>
                            </li>
                        }
                        <li class="list-inline-item mr-0">
                            <a class="btn btn-sm btn-outline-dark  js-render-modal" href="javascript:" data-url="/Product/ProductDetailes/@product.Id">
                                <i class="fas fa-expand"></i>
                            </a>
                        </li>
                    </ul> 
                </div>
            </div>
            <div>
                @if (product.InStock > 0)
                {
                    <span class="d-inline-block rounded-pill mb-2" style="background-color: #DCB14A; font-size: 12px; padding: 2px 12px; font-weight: bold">In Stock</span>
                }
                else
                {
                    <span class="d-inline-block rounded-pill mb-2" style="background-color: #FBCEB1; font-size: 12px; padding: 2px 12px; font-weight: bold">Out Of Stock</span>
                }
                <h6>
                    <a class="reset-anchor" href="detail.html">@product.Name</a>
                </h6>
                <p class="small text-muted">$@product.Price</p>
            </div>
        </div>
    </div>
}

<input type="hidden" id="productCount" value="@Model.Count()" />

<script>
    $(document).ready(function () {
        $('.addToCartBtnProduct').click(function (e) {
            e.preventDefault();
            var quantity = 1;
            var productId = $(this).data('item-id');
            console.log(productId);

            $.ajax({
                type: 'POST',
                url: '/Cart/AddToCart/',
                data: { productId: productId, quantity: quantity },
                success: function (response) {
                    if (response.success) {

                        Toastify({
                            text: "item is Added",
                            className: "info",
                            style: {
                                background: "linear-gradient(to right,  #dcb14a, #dcb15a)",
                            },

                            preventDuplicates: false
                        }).showToast();
                        updateCartCount(response.cartCount);

                    } else {
                        Toastify({
                            text: "Quantity cannot exceed available stock",
                            className: "toastify-danger",
                            style: {
                                background: "linear-gradient(to right,red, red)",
                            },
                            position: "center",
                            preventDuplicates: false,
                            duration: 3000
                        }).showToast();
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error adding item to cart:', error);
                }
            });
        });

        function updateCartCount(count) {
            $('#cartCount').text('(' + count + ')'); 
        }

        var productCount = $('#productCount').val();
        $('.ShowingProduct').text('Showing ' + productCount + ' results');
    });


</script>
